.mapsBar {
    position: absolute;
    top: 1rem;
    left: 1%;
    width: 98%;
    height: 1.2rem;
    text-align: center;
    padding: 0.1rem 0;
    box-sizing: border-box;
    font-size: 0;
    background: rgba(0,0,0,0);
    z-index: 295;
}
.mapsBar p {
    display: inline-block;
    width: 20%;
    text-align: center;
    line-height: .9rem;
    font-size: .35rem;
    font-weight: bold;
    border: solid 2px #26b7ff;
    border-left: none;
    background: rgba(32, 38, 44, 0.9);
    color: #26b7ff;
    box-sizing: border-box;
}
.mapsBar .active {
    background: #2a8cbd;
    color: white;
}

.mapsBar p:last-child {
    border-right: none;
}

.singleDatePicker {
    background: #ffffff;
    position: absolute;
    top: 2.3rem;
    left: calc(50% - 2.93rem);
    z-index: 295;
}

.box {
    padding-top: 1rem;
    padding-bottom: 0;
}
#bMap, #eMap {
    width: 100%;
    /*height: calc(100% - 1.4rem);*/
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

.urbansBG {
    background-image: url('../images/sky.jpg') !important;
    background-size: cover !important;
}

#top10 {
    position: absolute;
    bottom: 4%;
    left: 1%;
    width: 45%;
    height: 48%;
    z-index: 297;
}

#carSeatBar, #parkfun, #heatparkfun {
    position: fixed;
    top: 3.5rem;
    right: -1rem;
    width: .9rem;
    color: #b11ae8;
    font-size: 0;
    color: #FFFFFF;
    z-index: 295;
}
#carSeatBar p, #parkfun p, #heatparkfun p {
    width: 100%;
    line-height: .5rem;
    font-size: .35rem;
    font-weight: bold;
    text-align: center;
    background: rgba(30,120,191,0.7);
    background: rgba(102, 102, 102, 0.7);
    padding: 0.15rem 0;
    margin-top: 2px;
    box-sizing: border-box;
    border: solid 2px #bdbdbd;
    border-radius: 10px;
}
#carSeatBar p span, #parkfun p span, #heatparkfun p span {
    font-size: .9em;
}

#carSeatBar .active, #parkfun .active, #heatparkfun .active {
    background: #489bc6;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}

#mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 300;
}

.loading {
    position: absolute;
    display: block;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: .8rem;
    z-index: 310;
}
.flip-wrap span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .2rem;
    background-color: #3d77e0;
    animation: fs-flip-load 2s ease-in-out infinite;
}
@keyframes fs-flip-load {
    25% {
        background-color: aquamarine;
        transform: perspective(8rem) rotateX(-180deg) rotateY(0deg);
    }
    50% {
        background-color: bisque;
        transform: perspective(8rem) rotateX(-180deg) rotateY(-180deg);
    }
    75% {
        background-color: burlywood;
        transform: perspective(8rem) rotateX(0deg) rotateY(-180deg);
    }
    100% {
        background-color: #3d77e0;
        transform: perspective(8rem) rotateX(0deg) rotateY(-360deg);
    }
}
